{% extends "base.html" %}

{% block title %}Upload Photo{% endblock %}

{% block content %}

<div class="page-layout">
    <div class="sidebar">
        <h1>Додавання дива</h1>

        <!-- Photo Upload Form -->
        <form id="uploadForm" action="/upload_pdf" method="post" enctype="multipart/form-data" class="form-block-upload">
            <input type="file" class="file-upload-input" id="pdf" name="pdf" accept="application/pdf" style="display: none;" required />
            <label for="pdf" class="file-upload-label">Оберіть чаролист PDF</label>
            <button type="submit">Додати чаролист</button>
        </form>

        <!-- Форма для вибору документу -->
        <form method="POST" action="/upload_page">
            <label for="document">Доступні чаролисти:</label>
            <select id="document" name="document">
                {% for document in documents %}
                <option value="{{ document }}" {% if document == selected_document %}selected{% endif %}>
                    {{ document }}
                </option>
                {% endfor %}
            </select>
            <input type="hidden" name="documents" value="{{ documents | join(',') }}">
            <button type="submit">Підтвердити вибір</button>
        </form>

        <form method="POST" action="/ask_question">
            <label for="question">Запитати у магічній кулі:</label>
            <textarea id="question" name="question" rows="3" required></textarea>
            <input type="hidden" name="document_content" value="{{ document_content }}">
            <input type="hidden" name="document" value="{{ selected_document }}">
            <input type="hidden" name="documents" value="{{ documents | join(',') }}">
            <input type="submit" value="Запитати">
        </form>
        
    </div>
    <div class="content">
        <!-- Display document -->
        <h2>Історія запитів</h2>
        <div class="document-container">
            {% for question, answer in document_content %}
            <div class="document-pair">
                <!-- Питання зліва -->
                <div class="message question">
                    <div class="message-bubble question">{{ question }}</div>
                </div>

                <!-- Відповідь справа -->
                <div class="message answer">
                    <div class="message-bubble answer">{{ answer }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}