{% extends "base.html" %}

{% block title %}Upload Photo{% endblock %}

{% block content %}

<h1>Додавання дива</h1>

<!-- Photo Upload Form -->
 <form id="uploadForm" action="/pdf/upload_pdf_test_new" method="post" enctype="multipart/form-data" class="form-block-upload">
    <input type="file" class="file-upload-input" id="pdf" name="pdf" accept="application/pdf" style="display: none;" required />
    <label for="pdf" class="file-upload-label">Оберіть чаролист PDF</label>
    <input type="file"/>Додати чаролист</button>
</form>


<!-- Форма для вибору діалогу -->
<form method="POST" action="/pdf/upload_page">
    <label for="dialog">Доступні діалоги:</label>
    <select id="dialog" name="dialog">
        <!-- Динамічне заповнення опцій випадаючого списку -->
        {% for dialog in dialogs %}
            <option value="{{ dialog }}" {% if dialog == selected_dialog %}selected{% endif %}>
                {{ dialog }}
            </option>
        {% endfor %}
    </select>
    
    <button type="submit">Підтвердити вибір</button>
</form>


<!-- Display Dialog -->
<h2>Current Dialog</h2>
<div class="dialog-container">
    {% for question, answer in dialog_content %}
        <div class="dialog-pair">
            <!-- Питання зліва -->
            <div class="message question">
                <div class="message-bubble question">{{ question }}</div>
            </div>

            <!-- Відповідь справа -->
            <div class="message answer">
                <div class="message-bubble answer">{{ answer }}</div>
            </div>
        </div>
    {% endfor %}
</div>




<form method="POST" action="/pdf/ask_question">
    <label for="question">Ask a Question:</label>
    <textarea id="question" name="question" rows="3" required></textarea>

    <input type="submit" value="Ask">
</form>
    



{% endblock %}