{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

    <h1>Обряд посвячення</h1>
    <h1>Обряд посвячення пройдено успішно</h1>
    <p>Деталі вашого статусу мага:</p>
    <ul>
        <li><strong>Істинне імʼя:</strong> {{ data.user.name }}</li>
        <li><strong>Совина пошта:</strong> {{ data.user.email }}</li>
        {% if data.avatar %}
        <li><strong>:</strong> <img src="{{ data.user.avatar }}" alt="Avatar"></li>
        {% endif %}
    </ul>

{% endblock %}
