{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

    <h1>Попередження!</h1>
    <p>Ви дійсно бажаєтє піти у Забуття?</p>
    
    <!-- <a href="/delete" class="magic-button" method="delete"><button>В забуття</button></a> -->
    
    <form action="/delete" method="POST" style="margin-bottom: 15px">
        <button type="submit" class="magic-button">У забуття</button>
    </form>


    <a href="/user" class="magic-button"><button>Не забуватися</button></a>

{% endblock %}